Package: meo
Version: 1.1.8
Section: base   
Priority: optional
Architecture: all
Maintainer: Baldé <baldeuniversel@protonmail.com>
Depends: bash, coreutils, dpkg, curl, bc, debianutils, git, awk, gawk, zsh, util-linux
Description: The <<meo>> program allows to manage the available packages from the Github \
             repository `https://github.com/baldeuniversel/linux.git` (Use from the terminal)
